
	box-sizing: border-box;
	margin: 0px;
}

.header_wrapper{
	width: 100%;
	height: auto;
	background-color: #333;
}

.logo{
	float: left;
	width: auto;
	padding: 10px;
}

.logoIcon{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid white;
	border-radius: 50%;
	overflow: hidden;
	background-color: #fff;
}

.logoIcon img{
	width: 45px;
	height: 55px;
}

.logoName{
	float: right;
	width: auto;
	height: 75px;
	font-size: 30px;
	padding: 10px;
	
}
.navbar{
	width: 100%;
	height: auto;
}

ul {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}
img{
	height: 700px;
	width: 100%;
}



